{% extends 'base.html.twig' %}


{% block body %}
    <div class="filAriane">
        <p class="filAriane__text"><a class="filAriane__textLink" href="{{ path('index') }}"> Accueuil </a>/<a class="filAriane__textLink" href="{{ path('xeno_category') }}"> Xénomorph </a>/<a class="filAriane__textLink" href="{{ path('xeno_filter') }}"> Catégorie </a>/ {{ xenomorph.name }}</p>
    </div>

    <section class="sheetXeno">

        <div class="sheetXeno__preview__container">
            <h3 class="sheetXeno__title">{{ xenomorph.name }}</h3>
            <div class="sheetXeno__descContainer">
                <div class="sheetXeno__imgContainer">
                    <img class="sheetXeno__img" src="{{ asset('images/xenomorph/'~xenomorph.imgSrc) }}" alt="{{ xenomorph.imgAlt }}">
                </div>
                <p class="sheetXeno__descText">{{ xenomorph.description }}</p>
            </div>

        </div>

        <div class="sheetXeno__info">
            <p class="sheetXeno__price__container"><span class="sheetXeno__price">{{ xenomorph.price }}</span>Þ</p>

            <div class="sheetXeno__button__container">
                <p class="sheetXeno__available">Disponible</p>
                <button class="sheetXeno__button">Rendre visite</button>
            </div>
        </div>

        <div class="sheetXeno__stats">
            <table class="sheetXeno__stats__carac">
                <tr class="sheetXeno__stats__table">
                    <th >Catégorie</th>
                    <td>{{ xenomorph.type }}</td>
                </tr>
                <tr class="sheetXeno__stats__table">
                    <th>Taille</th>
                    <td>{{ xenomorph.size }} m</td>
                </tr>
                <tr class="sheetXeno__stats__table">
                    <th class="sheetXeno__stats__table--dangerous">Dangerosité</th>
                    <td><input type="range" name="dangerous" value="{{ xenomorph.dangerous }}" min="0" max="100"></td>
                </tr>
                <tr class="sheetXeno__stats__table">
                    <th>Alimentation</th>
                    <td>{{ xenomorph.feeding }}</td>
                </tr>
            </table>

            <table class="sheetXeno__stats__viva">
                <tr class="sheetXeno__stats__table">
                    <th>Température</th>
                    <td>{{ xenomorph.temperature }}°</td>
                </tr>
                <tr class="sheetXeno__stats__table">
                    <th>Pression</th>
                    <td>{{ xenomorph.pressure }} bars</td>
                </tr>
                <tr class="sheetXeno__stats__table">
                    <th>Atmosphère</th>
                    <td>{{ xenomorph.atmosphere }}</td>
                </tr>
            </table>
        </div>
    </section>
{% endblock %}
